<!-- LANDING PAGE -->
<head>
    <style>
        body {
            background-color: white;
            background-image: linear-gradient(to bottom, white, plum);
            background-attachment: fixed;
        }

        h1 {
            color: purple;
            font: size 100;
            text-align: center;

        }

        h2 {
            color: white;
            font-family: "Georgia";
            font: size 60;
            text-align: left;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>PhotoShare </title>
    <meta name="description" content="This is our website.">
    <link rel=”stylesheet” href=”main.css”>
    <link rel=”stylesheet” type=”text/css” href="styles.css">

  <base href="http://localhost:5000/">
  {% if message %}
    <h1>{{message}}!</h1>
  {% endif %}
  <title>Home</title>
  {% if name %}
    <h3>Hello, {{ name }}!</h3>
  {% endif %}
</head>

<body>
  <h3>Main Menu:</h3>
  <ul>
    <li><a href='/browse'>Browse Photos</a></li>
    <li><a href='/explore'>Top Users and Tags</a></li>
    {% if anonymous %}
        <li><a href='/login'>Login</a></li>
        <li><a href='/register'>or create an account</a></li>
    {% else %}
        <li><a href='/profile'>My Profile</a></li>
        <li><a href='/logout'>Logout</a></li>
    {% endif %}
  </ul>
</body>
